@import '~antd/dist/antd.css';

.ant-layout-header {
  padding-top: 10px;
  background-color: white;
}

.app {
  text-align: center;
}

.top-level {
  width: 100%;
  height: 100%;
}

.main-content {
  flex-flow: column;
  flex: 1 1;
  height: 100%;
}

.list-pane {
  flex-flow: wrap;
  flex: 1 1;
  background-color: white;
}

.entity {
  width: 100px;
  height: 100px;
  background-color: #dddddd;
  border: 1px solid black;
  margin: 10px;
  display: inline-flex;
}

.detail-pane {
  padding: 10px;
  background-color: #dddddd;
  height: 100%;
}

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
